---
import { db, Praticiens } from "astro:db";

const praticiens = await db.select().from(Praticiens);
---

<h1>Praticiens</h1>

{
  praticiens.map((praticien) => (
    <div>
      <h2>{praticien.name}</h2>
      <h2>{praticien.firstname}</h2>
      <p>{praticien.address}</p>
      <p>{praticien.zip}</p>
      <p>{praticien.city}</p>
      <p>{praticien.profession}</p>
      <p>{praticien.description}</p>
    </div>
  ))
}
